@import url('../styles/font.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'PT Sans', sans-serif; */
  font-family: Aldrich;
}

body {
  background-color: #000;
  color: #fff;
}